JWT_SECRET_KEY=wejgvwfaytf
JWT_ALGORITHM=HS256
PSWD_SECRET_KEY = fcjgvhgqd
DATABASE_URL = f"postgresql://smsuser:smspassword@localhost:5432/sms-campainger"

ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 2

API_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRoLWJhY2tlbmQ6YXBwIiwic3ViIjoiN2ZiODBjOTQtYTM2OS00YTNmLThjNWEtODA1ODE5MjA2NDU3In0._aesGoVE8F--Mizvuqil1yuubHtwcbisHhVe9nFpeRQ
URL = https://api.d7networks.com/messages/v1/send